In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from pandas import Series,DataFrame

In [2]:
url = 'https://in.finance.yahoo.com/quote/AMZN/history?p=AMZN'#'https://in.finance.yahoo.com/quote/AAPL/history?p=AAPL'
result = requests.get(url)

c = result.content

## https://in.finance.yahoo.com/quote/INFY.NS/history?period1=1584472214&period2=1616008214&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true
## https://in.finance.yahoo.com/quote/%5ENSEI/history?period1=1584472187&period2=1616008187&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true

# https://in.finance.yahoo.com/quote/INFY.NS/history?p=INFY.NS&.tsrc=fin-srch
# https://in.finance.yahoo.com/quote/%5ENSEI/history?p=%5ENSEI&.tsrc=fin-srch

In [3]:
soup = BeautifulSoup(c)

In [4]:
summary = soup.find('div',{'class':'Pb(10px) Ovx(a) W(100%)'})

tables = summary.find_all('table')

In [14]:
dfs = pd.read_html('https://in.finance.yahoo.com/quote/AAPL/history?p=AAPL',header=0)
for df in dfs:
    print("")

In [15]:
df

,Date,Open,High,Low,Close*,Adj. close**,Volume
0,17-Mar-2021,124.05,125.86,122.34,124.76,124.76,109244400
1,16-Mar-2021,125.70,127.22,124.72,125.57,125.57,114740000
2,15-Mar-2021,121.41,124.00,120.42,123.99,123.99,92403800
3,12-Mar-2021,120.40,121.17,119.16,121.03,121.03,87963400
4,11-Mar-2021,122.54,123.21,121.26,121.96,121.96,102753600
...,...,...,...,...,...,...,...
96,29-Oct-2020,112.37,116.93,112.20,115.32,114.95,146129200
97,28-Oct-2020,115.05,115.43,111.10,111.20,110.84,143937800
98,27-Oct-2020,115.49,117.28,114.54,116.60,116.23,92276800
99,26-Oct-2020,114.01,116.55,112.88,115.05,114.68,111850700
100,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...