In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from pandas import Series,DataFrame

In [2]:
url = 'https://in.finance.yahoo.com/quote/AMZN/history?p=AMZN'#'https://in.finance.yahoo.com/quote/AAPL/history?p=AAPL'
result = requests.get(url)

c = result.content

## https://in.finance.yahoo.com/quote/INFY.NS/history?period1=1584472214&period2=1616008214&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true
## https://in.finance.yahoo.com/quote/%5ENSEI/history?period1=1584472187&period2=1616008187&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true

# https://in.finance.yahoo.com/quote/INFY.NS/history?p=INFY.NS&.tsrc=fin-srch
# https://in.finance.yahoo.com/quote/%5ENSEI/history?p=%5ENSEI&.tsrc=fin-srch

In [3]:
soup = BeautifulSoup(c)

In [4]:
summary = soup.find('div',{'class':'Pb(10px) Ovx(a) W(100%)'})

tables = summary.find_all('table')

In [12]:
dfs = pd.read_html('https://in.finance.yahoo.com/quote/AMZN/history?p=AMZN',header=0)
for df in dfs:
    print("")

In [13]:
df

,Date,Open,High,Low,Close*,Adj. close**,Volume
0,17-Mar-2021,3073.22,3173.00,3070.22,3171.68,3171.68,2160360
1,16-Mar-2021,3104.97,3128.91,3075.86,3091.86,3091.86,2510100
2,15-Mar-2021,3074.57,3082.24,3032.09,3081.68,3081.68,2913600
3,12-Mar-2021,3075.00,3098.98,3045.50,3089.49,3089.49,2418500
4,11-Mar-2021,3104.01,3131.78,3082.93,3113.59,3113.59,2770800
...,...,...,...,...,...,...,...
96,27-Oct-2020,3224.94,3291.66,3211.30,3286.33,3286.33,4291000
97,26-Oct-2020,3198.74,3282.98,3153.30,3207.04,3207.04,5901200
98,23-Oct-2020,3191.00,3205.33,3140.00,3204.40,3204.40,3466700
99,22-Oct-2020,3189.87,3198.75,3121.94,3176.40,3176.40,4212000
100,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...